<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindFulLife</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <%- include('partials/navigation') %>
    <header class="hero">
        <div class="hero-content">
            <h1>Welcome to <span>MindFulLife</span></h1>
            <p>Your journey starts here. Explore our services and get in touch with us.</p>
            <a href="#" class="btn-primary">Learn More</a>
        </div>
    </header>
    

    <section class="features">
        <h2 class="subtitle">Noticias Recientes</h2>
        <div class="container">
            <div class="feature">
                <img src="images/ansiedad.png" alt="MindFulLife" class="feature-image">
                <h2>Ansiedad</h2>
                <p>El trastorno de ansiedad generalizada se caracteriza por una ansiedad y una preocupación persistentes y excesivas por actividades o eventos, incluso asuntos comunes de rutina. La preocupación es desproporcionada con respecto a la situación actual, es difícil de controlar y afecta la forma en que te sientes físicamente.</p>
            </div>
            <div class="feature">
                <img src="images/ansiedad.png" alt="MindFulLife" class="feature-image">
                <h2>Depresion</h2>
                <p>La depresión es una enfermedad que se caracteriza por una tristeza persistente y por la pérdida de interés en las actividades con las que normalmente se disfruta, así como por la incapacidad para llevar a cabo las actividades cotidianas, durante al menos dos semanas.</p>
            </div>
            <div class="feature">
                <img src="images/ansiedad.png" alt="MindFulLife" class="feature-image">
                <h2>Esquizofrenia</h2>
                <p>¿Qué es la esquizofrenia? La esquizofrenia es una enfermedad mental grave que afecta la forma en que una persona piensa, siente y se comporta. Las personas con esquizofrenia pueden parecer como si hubieran perdido el contacto con la realidad, lo que puede ser angustioso para ellas, sus familiares y amigos.</p>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>If you have any questions, feel free to reach out to us.</p>
            <a href="#" class="btn-secondary">Get in Touch</a>
        </div>
    </section>
    
    <%- include('partials/footer') %>
    
</body>
</html>