<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindFulLife</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/images/favicon3.png" type="image/x-icon">
</head>
<body>
    <%- include('partials/navigation') %>
    <section id="home" class="intro">
        <div class="intro-content">
            <h1><b>Tu Bienestar es Nuestra Prioridad</b></h1>
            <p>Explora recursos y servicios diseñados para apoyarte en tu camino hacia el bienestar mental y emocional.</p>
            <a href="#resources" class="btn-primary"><b><i class="fa-solid fa-magnifying-glass-arrow-right"></i>    Explorar Recursos</b></a>
        </div>
    </section>

    <!-- Banner de Cookies -->
    <div id="cookie-banner" class="cookie-banner">
        <div class="cookie-icon">
            <img src="/images/galletas.gif" alt="Ícono de Cookies">
        </div>
        <div class="cookie-message">
            <p>Utilizamos cookies para mejorar tu experiencia en nuestro sitio web. Al continuar navegando, aceptas nuestra <a href="/cookies">Política de Cookies.</a></p>
        </div>
        <button id="accept-cookies" class="accept-btn"><i class="fa-solid fa-check"></i>    Aceptar</button>
    </div>

    <!-- Sección Sobre Nosotros -->
    <section id="about" class="about">
        <div class="about-content">
            <h2>¿Quiénes Somos?</h2>
            <p>En MindFulLife, creemos firmemente que el bienestar mental es fundamental para llevar una vida plena y equilibrada. Nacimos de la necesidad de proporcionar herramientas accesibles y efectivas que ayuden a las personas a manejar el estrés, la ansiedad, y otros desafíos relacionados con la salud mental en su vida diaria.</p>
            <a href="/about" class="btn-secondary"><i class="fa-solid fa-users"></i>    Conoce al Equipo</a>
        </div>
    </section>

    <!-- Sección de Servicios -->
    <section id="services" class="services">
        <h2>Servicios Disponibles</h2>
        <div class="service-grid">
            <div class="service-card">
                <img src="/images/estado-animico.gif" alt="Asesoramiento Individual">
                <h3>Estado de Animo</h3>
                <p>Sesiones personalizadas para tratar tus preocupaciones individuales.</p>
                <a href="/estadoAnimo"><i class="fas fa-smile icon-example"></i>    Ver </a>
            </div>
            <div class="service-card">
                <img src="/images/mancuernas.gif" alt="Grupos de Apoyo">
                <h3>Ejercicios</h3>
                <p>Únete a nuestros grupos de apoyo y comparte tus experiencias con otros.</p>
                <a href="/ejercicios"><i class="fas fa-dumbbell icon-example"></i>   Ver Ejercicios</a>
            </div>
            <div class="service-card">
                <img src="/images/terapia.gif" alt="Terapia en Línea">
                <h3>Terapia en Línea</h3>
                <p>Accede a sesiones de terapia en línea, desde la comodidad de tu hogar.</p>
                <a href="/terapia"><i class="fas fa-mobile-alt icon-example"></i>   Más Información</a>
            </div>
        </div>
    </section>

    <!-- Sección de Recursos -->
    <section id="resources" class="resources">
        <h2>Recursos para Ti</h2>
        <div class="resource-grid">
            <div class="resource-card">
                <img src="/images/libros.gif" alt="Artículos y Guías">
                <h3>Artículos</h3>
                <p>Lee nuestros artículos sobre técnicas de autocuidado y bienestar mental.</p>
                <a href="/articulos"><i class="fas fa-book icon-example"></i>    Leer Más</a>
            </div>
            <div class="resource-card">
                <img src="/images/videotutorial.gif" alt="Videos Educativos">
                <h3>Videos Educativos</h3>
                <p>Descubre videos que explican cómo manejar el estrés y la ansiedad.</p>
                <a href="/videos"><i class="fas fa-video icon-example"></i>   Ver Videos</a>
            </div>
            <div class="resource-card">
                <img src="/images/guia.gif" alt="Enlaces Útiles">
                <h3>Guías</h3>
                <p>Accede a organizaciones y servicios adicionales para soporte mental.</p>
                <a href="/guias"><i class="fas fa-map-signs icon-example"></i>   Ver Guias</a>
            </div>
        </div>
    </section>

    <!-- Sección de Nuestros Colaboradores -->
    <section id="partners" class="partners">
        <h2>Nuestros Colaboradores</h2>
        <div class="partner-logos">
            <img src="/images/saludtotal.png" alt="Colaborador 1">
            <img src="/images/comfenalco.jpg" alt="Colaborador 2">
            <img src="/images/sura.png" alt="Colaborador 3">
            <img src="/images/savia.jpg" alt="Colaborador 3">
            <img src="/images/nuevaeps.png" alt="Colaborador 3">
            <!-- Agrega más logos según sea necesario -->
        </div>
    </section>

    
    
    <%- include('partials/footer') %>
    
</body>
<script>
    // script.js
document.addEventListener('DOMContentLoaded', function () {
    const cookieBanner = document.getElementById('cookie-banner');
    const acceptCookiesButton = document.getElementById('accept-cookies');

    // Siempre muestra el banner de cookies
    cookieBanner.style.display = 'block';

    acceptCookiesButton.addEventListener('click', function () {
        // Oculta el banner de cookies al hacer clic en el botón
        cookieBanner.style.display = 'none';
    });
});

</script>
</html>
