<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-MindFulLife</title>
    <link rel="stylesheet" href="/src/public/register.css">
    <style>
      /* Estilo global para el body */
      body {
        margin: 0;
        padding: 0;
        height: 100vh; /* Altura completa de la ventana del navegador */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        background: #616161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }

      /* From Uiverse.io by R1SH4BH81 */ 
      .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        padding: 30px;
        width: 450px;
        border-radius: 20px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }

      ::placeholder {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
          Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }

      .form button {
        align-self: flex-end;
      }

      .flex-column > label {
        color: #151717;
        font-weight: 600;
      }

      .inputForm {
        border: 1.5px solid #ecedec;
        border-radius: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        transition: 0.2s ease-in-out;
      }

      .input {
        margin-left: 10px;
        border-radius: 10px;
        border: none;
        width: 85%;
        height: 100%;
      }

      .input:focus {
        outline: none;
      }

      .inputForm:focus-within {
        border: 1.5px solid #2d79f3;
      }

      .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
      }

      .flex-row > div > label {
        font-size: 14px;
        color: black;
        font-weight: 400;
      }

      .span {
        font-size: 14px;
        margin-left: 5px;
        color: #2d79f3;
        font-weight: 500;
        cursor: pointer;
      }

      .button-submit {
        margin: 20px 0 10px 0;
        background-color: #2d79f3;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
        height: 50px;
        width: 100%;
        cursor: pointer;
      }

      .button-submit:hover {
        background-color: #034fc9;
      }

      .p {
        text-align: center;
        color: black;
        font-size: 14px;
        margin: 5px 0;
      }

      .btn {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        gap: 10px;
        border: 1px solid #ededef;
        background-color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }

      .btn:hover {
        border: 1px solid #2d79f3;
      }

      h2{
        color: #2d79f3;
        margin-bottom: 0;
      }

      h4{
        margin-top: 0;
      }

      a {
        margin-top: 10px;
        text-decoration: none; /* Elimina el subrayado */
        color: inherit; /* Usa el color del elemento padre */
        cursor: pointer; /* Cambia el cursor a predeterminado en lugar de la mano /* Desactiva los clics en el enlace */
      }
    </style>
</head>
<body>
  <form class="form">
    <h2>¡Hola👋!</h2>
    <h4>Inicia sesion en tu cuenta</h4>
    <div class="flex-column">
      <label>Email </label>
    </div>
    <div class="inputForm">
      <svg
        height="20"
        viewBox="0 0 32 32"
        width="20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Layer_3" data-name="Layer 3">
          <path
            d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"
          ></path>
        </g>
      </svg>
      <input type="text" class="input" placeholder="Enter your Email" />
    </div>
  
    <div class="flex-column">
      <label>Password </label>
    </div>
    <div class="inputForm">
      <svg
        height="20"
        viewBox="-64 0 512 512"
        width="20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"
        ></path>
        <path
          d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"
        ></path>
      </svg>
      <input type="password" class="input" placeholder="Enter your Password" />
      </div>
      <a href="/recuperaPass">¿Olvido la contraseña?</a>
    <button class="button-submit">Login</button>
    <p class="p">Not have a account? <a class="span" href="/register">Register</a></p>
  </form>
</body>
</html>
