<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="shortcut icon" href="/images/favicon3.png" type="image/x-icon">
    <style>

        .news-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            padding: 30px;
            border-radius: 30px;
        }
        .news-item {
            background-color: #ffffff;
            width: 320px;
            height: 350px;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .news-item img {
            width: 100%;
            height: 50%;
            border-radius: 20px 20px 0 0;
        }
        .news-item .news-content {
            padding: 15px;
            height: 50%;
            border-radius: 0 0 20px 20px;
        }
        .news-title a {
            text-decoration: none;
            color: var(--first-color);
            font-size: 20px;
            font-weight: bold;
        }
        .news-title a:hover {
            text-decoration: underline;
        }
        .news-description {
            margin-top: 10px;
            color: #616161;
        }
        .edit-profile {
            background-color: var(--first-color);
            color: #ffffff;
            border: none;
            padding: 12px 25px;
            cursor: pointer;
            margin-top: 20px;
            border-radius: 10px;
            font-size: 16px;
        }
        .relaxation-techniques {
            background: #BE93C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            padding: 60px 20px;
            text-align: center;
            color: var(--first-color);
            border-radius: 50% 50% 0 0 / 15% 15% 0 0;
        }
        .technique-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 40px;
        }
        .technique-item {
            background-color: #ffffff;
            width: 280px;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            text-align: left;
        }
        .technique-item img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        .technique-item h3 {
            color: var(--first-color);
            margin: 0;
            font-size: 18px;
        }
        .technique-item p {
            color: #616161;
            margin-top: 10px;
        }
        .book-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            margin-top: 40px;
            background-color: #f7f4f4;
        }
        .book-item {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.1);
            width: 85%;
            max-width: 800px;
            margin: 10px;
        }
        .book-item img {
            width: 120px;
            height: 180px;
            object-fit: cover;
            border-radius: 10px;
            margin-right: 20px;
        }
        .book-item .book-details {
            text-align: left;
        }
        .book-item h3 {
            color: var(--first-color);
            margin: 0;
            font-size: 22px;
        }
        .book-item p {
            color: #616161;
            margin: 5px 0;
        }
        #more-books {
            display: none;
        }
        #show-more {
            margin-top: 20px;
            background-color: var(--first-color);
            color: white;
            border: none;
            padding: 10px 30px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
        }
        #show-more:active {
            background-color: var(--title-color);
        }
        .mental-health-section {
            padding: 60px 20px;
            text-align: left;
            background-color: #80deea;
            border-radius: 0 0 50% 50% / 15% 15% 0 0;
            color: var(--first-color);
        }
        .mental-health-section h2 {
            font-size: 30px;
            color: var(--first-color);
            margin-bottom: 20px;
        }
        .mental-health-section .info-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 15px;
            margin-bottom: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        .mental-health-section .info-item h3 {
            color: var(--first-color);
            margin: 0;
            font-size: 22px;
        }
        .mental-health-section .info-item p {
            color: #616161;
            margin: 0;
        }

        .button {
          margin-bottom: 20px;
        }

        h1 {
            margin-top: 110px;
            text-align: center;
            color: var(--title-color);
        }

        h2 {
            color: var(--title-color);
        }
    </style>
</head>
<body>
  <%- include('partials/navigation') %>
  <h1>Noticias Internacionales</h1>
    <div class="news-container">
        <div class="news-item">
            <img src="/images/redessociales.jpg" alt="">
            <div class="news-content">
                <div class="news-title"><a href="https://cnnespanol.cnn.com/2024/08/19/ver-videos-redes-sociales-aburrimiento-estudio-trax/" target="_blank">Las redes sociales haran que te aburras más, según un estudio</a></div>
                <p class="news-description">Una solución habitual para combatir el aburrimiento es ver videos en las redes sociales.</p>
            </div>
        </div>
        <div class="news-item">
            <img src="/images/pelea.jpg" alt="">
            <div class="news-content">
                <div class="news-title"><a href="https://cnnespanol.cnn.com/2024/08/16/pausa-5-segundos-reducir-conflictos-parejas-trax/" target="_blank">Tomar una pausa de 5 segundos puede ayudar e los conflictos de parejas, según un estudio</a></div>
                <p class="news-description">una pausa de tan sólo cinco segundos podría ayudar a apaciguar la situación.</p>
            </div>
        </div>
        <div class="news-item">
            <img src="/images/felicidad.jpeg" alt="">
            <div class="news-content">
                <div class="news-title"><a href="https://www.eltiempo.com/cultura/gente/hopecore-el-nuevo-trend-de-tiktok-que-impulsa-el-optimismo-y-mejora-tu-bienestar-mental-3378663" target="_blank">El nuevo trend de TikTok que impulsa el optimismo y mejora su bienestar mental</a></div>
                <p class="news-description">Videos que muestran momentos de felicidad, con la canción 'Evergreen' de Richy Mitch and the Coal Miners.</p>
            </div>
        </div>
        <div class="news-item">
            <img src="/images/mascotas.jpeg" alt="">
            <div class="news-content">
                <div class="news-title"><a href="https://www.eltiempo.com/cultura/gente/los-efectos-reales-de-tener-mascotas-en-la-salud-mental-segun-un-estudio-3378386" target="_blank">¿Una mascota mejora la salud mental o no? Estudio aclara este mito</a></div>
                <p class="news-description">Los propietarios de animales de compañia experimentaron niveles un poco más altos de depresión y ansiedad.</p>
            </div>
        </div>
    </div>
    
    <!-- Sección de Técnicas de Relajación -->
    <div class="relaxation-techniques">
        <h2>Noticias Nacionales</h2>
        <div class="technique-list">
            <div class="technique-item">
                <img src="/images/depresivo.jpg" alt="">
                <div class="news-title"><a href="https://elpais.com/ciencia/2024-09-05/las-personas-con-depresion-tienen-una-red-del-cerebro-dos-veces-mayor-que-las-que-sanas.html" target="_blank">Las personas con depresión tienen una red del cerebro dos veces mayor</a></div>
                <p>Un sistema de neuroimagen también identifica cambios en las conexiones de esa red asociadas a la ansiedad o la falta de deseo.</p>
            </div>
            <div class="technique-item">
                <img src="/images/dibujoCerebro.jpg" alt="">
                <div class="news-title"><a href="https://www.elespectador.com/salud/cientificos-descubren-como-la-depresion-cambia-una-importante-red-del-cerebro/" target="_blank">Científicos descubren cómo la depresión cambia una importante red del cerebro</a></div>
                <p>Este cambio en la red de prominencia fue constante a lo largo del tiempo...</p>
            </div>
            <div class="technique-item">
                <img src="/images/acostada.jpg" alt="">
                <div class="news-title"><a href="https://elpais.com/estilo-de-vida/2024-08-24/como-abordar-traumas-del-pasado-para-conocerse-mejor-en-el-presente-el-recuerdo-sigue-ahi-pero-ya-no-duele.html" target="_blank">Cómo abordar traumas del pasado para conocerse mejor en el presente:</a></div>
                <p>La terapia de desensibilización y reprocesamiento mediante movimientos oculares, avalada por la OMS desde 2013...</p>
            </div>
        </div>
    </div>
    
    <!-- Sección de Libros que te pueden Ayudar -->
    <div class="book-list">
        <h2>Noticias Departamentales</h2>
        <div class="book-item">
           <img src="/images/Personasolitaria.jpg" alt="">
            <div class="book-details">
                <div class="news-title"><a href="https://www.udea.edu.co/wps/portal/udea/web/inicio/udea-noticias/udea-noticia/!ut/p/z0/fYyxDsIwEEN_hSUjuqOUFMaKAQkxMCDUZkGnNoKDJpe2AfH5tDAgFhbLtuwHBgownh58psjiqRlyafRpuVonszzFHepUY6736SJLNvPDEWEL5v9gIPC1bU0OphIf7TNCEaSL1NxrSwqp_00XcfbjR514iVwx9Qrfb8-1jKtvHWzHUnMl1DhyFG2nsB9xzvoBOw3ksgQh3Ez5AiHH7eE!/" target="_blank">Incremento de afectaciones a la salud mental en Antioquia: coletazos de la pandemia</a></div>
                <p>En 2021 una persona al día se quitó la vida en Antioquia. Aunque la Organización Mundial de la Salud alertó como consecuencia de la pandemia "un aumento a largo plazo del número y la severidad de los problemas de salud mental".</p>
            </div>
        </div>
        <div class="book-item">
            <img src="/images/vivirsolo.jpg" alt="">
            <div class="book-details">
                <div class="news-title"><a href="https://www.minsalud.gov.co/Paginas/Minsalud-comprometido-con-la-salud-mental-de-los-colombianos.aspx" target="_blank">Minsalud, comprometido con la salud mental de los colombianos</a></div>
                <p>Asistencia técnica, asesoría, capacitación y coordinación intersectorial, algunas de las acciones a fin de garantizar el derecho a la salud mental.</p>
            </div>
        </div>
        <div class="book-item">
            <img src="/images/medellin.jpg" alt="">
            <div class="book-details">
                <div class="news-title"><a href="https://example.com/noticia1" target="_blank">Salud mental en la ciudad de Medellín</a></div>
                <p>La salud mental tiene que ver con la vida diaria, en la manera en que cada uno se relaciona con el otro, en la familia, en el trabajo, en el colegio y en la comunidad. Comprende la forma en que armonizamos nuestros propios deseos, anhelos, habilidades, ideales, sentimientos y valores.</p>
            </div>
        </div>
    
        <div id="more-books">
            <div class="book-item">
                <img src="/images/EncuestaSaludMental.png" alt="">
                <div class="book-details">
                    <div class="news-title"><a href="https://www.minsalud.gov.co/Paginas/66-porciento-de-colombianos-declara-haber-enfrentado-algun-problema-de-salud-mental.aspx" target="_blank">Encuesta de Minsalud revela que el 66,3% de los colombianos declara haber enfrentado algún problema de salud mental</a></div>
                    <p>Cerca de la mitad de la población señala la casa en un (44,5%), como el escenario más propicio para generar problemas de salud mental. Este espacio es mencionado con más frecuencia entre las mujeres que entre los hombres.</p>
                </div>
            </div>
            <div class="book-item">
                <img src="/images/saludmental1.jpg" alt="">
                <div class="book-details">
                    <div class="news-title"><a href="https://www.procuraduria.gov.co/Pages/suicidio-disparado-colombia-cuenta-trastornos-mentales-procuraduria.aspx" target="_blank">Suicidio disparado en Colombia por cuenta de trastornos mentales</a></div>
                    <p>De acuerdo con cifras suministradas por el Instituto Nacional de Medicina Legal y Ciencias Forenses, entre enero y julio de 2023 la tasa de suicidios se incrementó en 15,73 % con respecto al mismo periodo de 2022, pasando de 1.564 a 1.810 casos.</p>
                </div>
            </div>
        </div>
        <button id="show-more" onclick="toggleMoreBooks()" class="button"><i class="fa-solid fa-eye"></i>   Ver Más</button>
    </div>

    <script>
        function toggleMoreBooks() {
            const moreBooks = document.getElementById('more-books');
            const showMoreButton = document.getElementById('show-more');
            if (moreBooks.style.display === 'none' || moreBooks.style.display === '') {
                moreBooks.style.display = 'flex';
                showMoreButton.textContent = 'Ver Menos';
            } else {
                moreBooks.style.display = 'none';
                showMoreButton.textContent = 'Ver Más';
            }
        }
    </script>
</body>
<%- include('partials/footer') %>

</html>