<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="/images/favicon3.png" type="image/x-icon">
    <title>Modern Login Page | AsmrProg</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 500px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container a:hover {
    color: #1778f2;
}

.container button{
    background-color: #3156aa;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container button.hidden:hover {
    background-color: white;
    color: black;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-in span {
    margin-bottom: 10px;
    margin-top: 10px;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sign-up span {
    margin-bottom: 10px;
    margin-top: 10px;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.social-icons a:hover{
    border: solid 1px black;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #2d54a8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}







/* Modal Styles */
.modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 400px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal-close {
        background-color: transparent;
        border: none;
        font-size: 35px;
        cursor: pointer;
        color: #808080; /* Gris */
        transition: color 0.3s ease;
    }

    .modal-close:hover {
        color: #000000; /* Negro al hacer hover */
    }


    .modal form {
        display: flex;
        flex-direction: column;
    }

    .modal form input {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        transition: border-color 0.3s ease;
    }

    .enviar {
        padding: 10px;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        background-color: #3156aa;
    }


    .container .form-group input::placeholder {
        opacity: 0.5;
    }

    .modal form input:focus {
        outline: none;
        border-color: #007bff; /* Azul cuando está enfocado */
    }


</style>
<body>



        <!-- Vista de Iniciar Sesion-->
    <div class="container" id="container">
         
        <div class="form-container sign-in">
          <form action="/register" method="post">
            <h1>Create Account</h1><br>
            <% if (typeof error !== 'undefined') { %>
                <div style="color: red; font-size: 15px;"><%= error %></div>
            <% } %>
            <input type="text" id="nombre" name="nombre" placeholder="Names" >
            <input type="text" id="apellido" name="apellido" placeholder="Surnames" >
            <input type="text" id="genero" name="genero" placeholder="Gender" >
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="birthDate" >
            <input type="email" id="correo" name="correo" placeholder="Email" >
            <input type="password" id="contrasena" name="contrasena" placeholder="Password" >
            <input type="password" id="confirmarContrasena" name="confirmarContrasena" placeholder="Confirm Password" >
            <button type="submit">Sign Up   <i class="fa-solid fa-user-pen"></i></button>
            
        </form>
        </div>

        <!-- Informacion de la derecha e izquierda -->
        <div class="toggle-container">
          <div class="toggle">
              <div class="toggle-panel toggle-right">
                  <h1>Welcome!</h1>
                  <p>Sign in to your account to see your information</p>
                  <a href="/"><button class="hidden" id="register1">Login</button></a>
              </div>
          </div>
      </div>
    </div>
    


    <!-- Vista Modal for Forgot Password -->
    <div class="modal" id="forgot-password-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Forgot Password</h3>
                <button class="modal-close" id="close-modal">&times;</button>
            </div> <br>
            <form id="forgotPasswordForm">
                <label for="correo"><i class="fa-solid fa-envelope"></i>    <strong>Email</strong></label>
                <input type="email" id="correo1" name="correo1" placeholder="Enter your email" required>
                <button type="submit" class="enviar"><b>Send Email</b></button>
            </form>
        </div>
    </div>

</body>

</html>